.container{

    width: 75%;
    border: 1px solid red;
    text-align: center;
    margin: 0 auto;

}

.generate-btn{
    display: flex;
    justify-content: space-around;
}

.generate-pic{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid blue;

}

.generate-pic img{

    padding: 10px;
    border: 1px solid red;

}

